body {
  height: 95%;
  width: 95%;
  margin: 0;
  padding: 0px;
  padding-bottom: 30px;
  background: linear-gradient(
      135deg,
      #f7dec1 21px,
      #d9ecff 22px,
      #d9ecff 24px,
      transparent 24px,
      transparent 67px,
      #d9ecff 67px,
      #d9ecff 69px,
      transparent 69px
    ),
    linear-gradient(
        225deg,
        #f7dec1 21px,
        #d9ecff 22px,
        #d9ecff 24px,
        transparent 24px,
        transparent 67px,
        #d9ecff 67px,
        #d9ecff 69px,
        transparent 69px
      )
      0 64px;
  background-color: #bf9fc4;
  background-size: 64px 128px;
}

h1 {
  font-family: 'LemonRegular', 'Helvetica', 'Courier New';
  font-weight: normal;
  font-style: normal;
  color: #16917c;
  font-size: 45pt;
}

h2 {
  font-family: 'LemonRegular', 'Helvetica', 'Monospace';
  color: #251135;
  font-size: 25pt;
}

h3 {
  font-family: 'LemonRegular', 'impact';
  color: #f16422;
}

.header {
  background: rgb(235, 156, 127);
  opacity: 86%;
  display: flex;
  flex: 2 1 480px;
  padding: 1em;
  margin: 2em;
  min-height: 150px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: teal;
  border-style: dotted;
  border-width: 3.5px;
  border-color: rgb(334, 200, 140);
  font-family: 'LemonRegular', 'Monospace';
  z-index: -1;
}

.header h2 {
  position: relative;
  align-self: flex-end;
}

.container {
  display: flex;
  min-height: 80%;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 15px;
  margin: 0px;
}

.core {
  flex-grow: 4;
  flex-shrink: 2;
  width: 750px;
  max-width: 65%;
  justify-content: center;
  background: transparent;
  height: auto;
  min-height: 700px;
  padding: 2px;
  padding-top: 0px;
  margin: 10px;
  border: 8px rgb(334, 200, 140);
  border-style: groove;
  background: #0e9c6d;
  opacity: 90%;
  margin-top: -20px;
  z-index: -1
}

.core h2 {
  background: #fcc4a0;
  position: relative;
  top: 0px;
  padding: 15px;
  margin: -2px;
  text-align: center;
  flex-wrap: wrap;
}

.core p {
  text-align: center;
  font-size: 18px;
  position: relative;
  top: 5px;
  padding: 1em;
  padding-top: 1px;
  padding-bottom: 1px;
  justify-content: space-around;
  z-index: 1;
}

.core h3 {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 0;
  color:#f38c5c
}

.super embed {
  margin: 2em;
  position: absolute;
  width: 96%;
  height: 100%;
  min-height: 1000px;
  flex-wrap: nowrap;

}
.core ul {
  text-align: left;
  text-justify: inter-word;
  font-size: 18px;
  position: relative;
  left: 25%;
  max-width: 600px;
  flex-wrap: wrap;
  top: 2px;
  padding: 1em;
  margin-right: 30px;
  justify-content: space-around;
  z-index: 1;
}

.core code {
  color: black;
  background:rgb(248, 204, 147);
  opacity: 40%;
  text-align: center;
  position:relative;
  margin-left: 20%;
  font-size: 18px;
}

.core ol {
  font-size: 16pt;
  position: relative;
  left: 30%;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
  justify-self: right;
  padding: 10px;
  margin: 15px;
  height: 100%;
  min-width: 250px;
  max-width: 20%;
}

.menu {
  flex: 2 1 96px;
  max-width:280px;
  background: #251135;
  min-height: 40px;
  max-height: 600px;
  height: 200px;
  justify-content: space-between;
  align-content: space-evenly;
  text-align: right;
  padding: 0px;
  margin: 5px;
  z-index: 2;
}

.menu h3 {
  margin-right: 20px;
  font-size: 24pt;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: -10px;
}

.menu ul {
  min-height: 20px;
  max-height: 400px;
  text-align: left;
  background-color: #a3e4d3;
  border-radius: 0% 50% 0% 50%;
  z-index: 3;
}

.jump {
  background: rgb(248, 204, 147);
  opacity: 100%;
  flex: 2 1 96px;
  height: 500px;
  max-height: 700px;
  font-size: 12pt;
  text-align: center;
  padding: 5px;
  margin: 5px;
  align-items: flex-start;
}

.jump h3 {
  font-size: 18pt;
}

#twitter {
  background: #a3e4d3;
  flex: 2 1 96px;
  min-width: 96px;
  max-width: 280px;
  min-height: 380px;
  max-height: 500px;
  justify-self: right;
  position: relative;
  scroll-margin-right: 5px;
  top: 20px;
  padding: 15px;
  margin: 2px;
  margin-bottom: 40px;
  border: #251135;
  border-top-style: double;
  z-index: 1;
}

p {
  font-size: 20px;
  color: #2b0a1a;
  font-family: helvetica, arial, monospace;
  text-align: justify, center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 12px;
}

.callout {
  justify-content: center;
  border:#f38c5c;
  border-style:dotted;
  border-width: 2px;
  height: auto;
  width: 60%;
  max-width: 80%;
  text-align: right;
  padding: 10em;
  margin-left: 20%;
  margin-bottom: 0px;
  margin-top: 15px;
  font-size: 16pt;
}

.image {
  border: 5px;
  border-color:#0b595c;
  border-style:groove;
  margin: 5px;
  flex: 2 1 96px;
  position:relative;
  flex-wrap: nowrap;
  align-content: center;
  max-width: 100%; 
  height: auto;
}

footer {
  display: block;
  position: fixed;
  bottom: 0em;
  text-align: center;
  font-family: helvetica, arial, sans-serif;
  height: 30px;
  width: 100%;
  background: coral;
  color: #0b595c;
  font-weight: bold;
}
