body {
  height: 100%;
  margin: 0;
  background:
  linear-gradient(135deg, #f7dec1 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
  linear-gradient(225deg, #f7dec1 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px) 0 64px;
  background-color:#bf9fc4;
  background-size: 64px 128px;
}

h1 {
  font-family: 'LemonRegular', 'Helvetica', 'Courier New';
  font-weight: normal;
  font-style: normal;
  color: #16917c;
  font-size: 45pt;
}

h2 {
  font-family: 'LemonRegular', 'Helvetica', 'Monospace';
  color:#251135
}

h3 {
  font-family:'LemonRegular', 'Monospace';
  color:#f16422;
}

.header {
  background:rgb(235, 156, 127); 
  opacity: 86%;
  display: flex;
  flex: 2 1 480px;
  padding: 0.5em;
  justify-content: space-evenly;
  color:teal;
  border-style: dotted;
  border-width: 3.5px;
  border-color: rgb(334, 200, 140);
  border-radius: 60%;
  font-family:'LemonRegular', 'Monospace';
}

.container {
  display: flex;
  min-height: 80%;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  padding: 25px;
  margin: 5px;
}

  #jump {
    background:rgb(248, 204, 147);
    opacity: 100%;
    flex: 2 1 96px;
    height: 100%;
    font-size: 14pt;
    text-align: center;
    justify-self: left;
    padding: 5px;
    margin: 0px;
    align-items: flex-start;
  }

  .core {
    flex: 4 2 288px;
    justify-self: center;
    justify-content: center;
    background:transparent;
    height: auto;
    padding: 2px;
    padding-top: 0px;
    margin: 10px;
    border: 8px rgb(334, 200, 140);
    border-style:groove;
  }

  .core h2 {
    background:#fcc4a0;
    position: relative;
    top: 0px;
    align-items: flex-start;
    text-align: center;
  }

  .core p {
    text-align: center;
    position: relative;
    top: 40px;
  }

  #menu {
    flex: 2 1 96px;
    background:#251135;
    min-height: 40px;
    max-height: 600px;
    height: 180px; 
    min-width: 10%;
    justify-self: right;
    justify-content: space-between;
    text-align: center;
    border: 3px;
  }
#menu ul {
  position:sticky;
  left: 2px;
  text-align: left;
  background-color: #a3e4d3;
  border-radius: 20%;
}

  #twitter {
    background:#a3e4d3;
    flex: 2 1 96px;
    max-width: 280px;
    min-height: 380px;
    max-height: 500px;
    justify-self: right;
    position: absolute;
    top: 240px;
    padding: 15px;
    margin: 2px;
    border:#251135;
    border-top-style: double;
  }

  p text {
    font-size: 20px;
    color:#3b2409;
    font-family: helvetica, arial, monospace;
    text-align: justify, center;
  }

p.image {
  border-radius: 10%;
  max-width: 5% !important;
  justify-content: center;
}

footer {
  display: block;
  position: absolute;
  bottom: 0 !important;
  text-align: center;
  font-family: helvetica, arial, sans-serif;
  height: 30px;
  width: 100%;
  box-sizing: stretch;
  background:coral;
  color: #0b595c;
  font-weight: bold;
}