body {
  height: 100%;
  margin: 0;
  background:
  linear-gradient(135deg, #f7dec1 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
  linear-gradient(225deg, #f7dec1 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
  background-color:#bf9fc4;
  background-size: 64px 128px;
  h1 {
      font-family: 'LemonRegular';
      font-weight: normal;
      font-style: normal;
      color: blueviolet;
  }

}
h3 {
  font-family:'LemonRegular', 'Monospace';
  color:#f16422;
}
.opening {
  background:rgb(235, 156, 127); 
  opacity: 86%;
  display: flex;
  flex: 2 1 480px;
  padding: 1.8em;
  justify-content: space-evenly;
  color:teal;
  border-style: dotted;
  border-width: 3.5px;
  border-color: rgb(334, 200, 140);
  border-radius: 60%;
  font-family:'LemonRegular', 'Monospace';
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 12px;
  margin: 5px;

  #jump {
    background:tan;
    opacity: 100%;
    flex: 3 1 96px;
    height: 100%;
    font-size: 18pt;
    text-align: right;
    justify-self: left;
    padding: 12px;
    margin: 2px;
    align-items: flex-start;
  }

  .core {
    flex: 10 3 288px;
    justify-self: center;
    align-items: center;
    background:transparent;
    height: 80%;
    padding: 2px;
    margin: 0px;
    border: 8px rgb(334, 200, 140);
  }

  #menu {
    flex: 2 1 96px;
    background:#251135;
    height: 50px;   
    min-height: 40px;
    max-height: 80px; 
    min-width: 220px;
    justify-self: right;
    text-align: center;
    border: 3px;
  }

  #twitter {
    background:#9982ff;
    flex: 1 1 96px;
    height: 200px;
    min-height: 40px;
    max-height: 250px;
    justify-self: right;
    padding: 15px;
    margin: 2px;
    border:#251135;
    border-top-style: double;
  }

  p text {
    font-size: 20px;
    color:#3b2409;
    font-family: helvetica, arial, monospace;
    text-align: justify, center;
  }
}

.image {
  border-radius: 5%;
}

footer {
  display: block;
  position: fixed;
  text-align: center;
  font-family: helvetica, arial, sans-serif;
  height: 40px;
  width: auto;
  box-sizing: stretch;
  background:coral;
}